body {
    margin: 0px;
    background-image: url("../../Resources/Main/bg.png");
    position: relative;
    width: 100vw
}

.topbar {
    -webkit-app-region: drag;
    height: 30px;
    background-color: #291b68;
}

#title {
    color: whitesmoke;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
}

p {
    color: white;
    text-align: center;
}

button {
    background-color: grey;
    display: flex;
    align-items: center;
    border-radius: 12px;
    border: none;
}

button:hover{
    background-color: aliceblue;
}

.buttoncontainer {
    display: flex;
    align-items: center;
    margin: auto;
    width: 50%;
    justify-content: space-evenly;
}